// color variables
$regular_text_color: #263238;

// rating component
$star: '\2605';
$unchecked-color: #c9c9c9;
$checked-color: #fccf47;

// z-index

// media breakpoints
$phone          : 720px;
$phone-medium   : 520px;
$phone-small    : 340px;

// fonts variables
$titilliumweb-black: titilliumweb-black, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$titilliumweb-bold: titilliumweb-bold, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$titilliumweb-italic: titilliumweb-italic, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$titilliumweb-light: titilliumweb-light, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$titilliumweb-regular: titilliumweb-regular, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$titilliumweb-semibold: titilliumweb-semibold, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;